/* nav bar */
.body{
    max-width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #7f7f7f;
    /* color: white; */
    color: black;
    font-family: Helvetica;
    font-weight: 300;
    height: 10%;
}

.navbar_logo{
    max-width: 30%;
    height: auto;
}

img {
    width: 200px;
    height: auto;
}

.navbar__title {
    margin-right: auto;
    font-size: 150%;
    padding: 12px 16px;
}

.navbar__item {
    padding: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
    margin-left: auto;
}
/* end of nav bar */

/* home page */
.welcomeMsg{
    font-size: 28px;
    margin-top: 3%;
}

.subDivider{
    border-bottom: 3px solid #7f7f7f;
    margin-top: 3%;
    font-size: 20px;
    font-weight: bold;
}

.homepageFormDisplay{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.homepageFormRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* above 3 to split formname and button to left & right */
    padding: 3%;
    text-align: center;
}

.homepageFormName{
    font-size: 20px;
}

.homepageFormStatus{
    font-size: 14px;
    font-style: italic;
}

.formButton{
    width: 120%;
    border-radius: 5px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    padding: 3%;
    border-color: transparent;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}