/* nav bar */
@import url("https://use.typekit.net/jcn3uwu.css");
.body{
    max-width: 100%;
    font-family: Roboto, sans-serif;
}

.mainContent{
    margin:3%;
}

.navbar {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #7f7f7f;
    color: black;
    font-weight: 300;
    height: 10%;
    padding: 2%;
}

.navbar_logo{
    max-width: 30%;
    height: 30%;
}

img {
    width: 200px;
    height: auto;
}

.navbar__title {
    margin-right: auto;
    font-size: 150%;
    padding: 12px 16px;
}

.navbar__item {
    padding: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
    margin-left: auto;
    font-weight: 500;
    margin:1%
}
/* end of nav bar */

/* home page */
.welcomeMsg{
    font-size: 28px;
    margin-top: 3%;
}

.subDivider{
    border-bottom: 2px solid #7f7f7f;
    margin-top: 3%;
    font-size: 20px;
    font-weight: bold;
    padding-left: 1%;
}

.homepageFormDisplay{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.homepageFormRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* above 3 to split formname and button to left & right */
    padding: 1.5%;
    text-align: center;
}

.homepageFormDetails{
    justify-content: left;
    text-align: left;
}

.homepageFormName{
    font-size: 20px;
}

.homepageFormStatus{
    font-size: 14px;
    font-style: italic;
}

.formButton{
    width: 120%;
    border-radius: 5px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    padding: 3%;
    border-color: transparent;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(100, 106, 112, 0.2) 0px 8px 24px;
}

/* FORM PAGE */
.formPage{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.formDetailsRow{
    padding:1%;
}

.formName{
    font-weight: bold;
    font-size: 22px;
    text-align: left;
}

.formDeets{
    font-style: italic;
    font-size:14px;
    text-align: right;
}

.formRow{
    text-align: center;
    padding:2%;
}

.formQuestion{
    font-weight: 600;
    font-size: 18px;
    text-align: left;
}

.formInput{
    text-align: left;
    font-size: 18px;
}

.inputtext{
    width:95%;
}

.formOptionText{
    margin-left: 1%;
}

input{
    font-size: 18px;
}

.submitButt{
    border-color: transparent;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(100, 106, 112, 0.2) 0px 8px 24px;
    background-color: #46AF05;
    width: 15%;
    padding: 1%;
    border-radius: 5px;
}